# Database - Railway will provide this
DATABASE_URL="postgresql://user:password@localhost:5432/poker_tracker"

# NextAuth
AUTH_SECRET="your-secret-key-generate-with-openssl-rand-base64-32"
AUTH_URL="http://localhost:3000"
